@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .account-settings {
    margin-top: 10vh;
    // padding-left: 230px;
    // padding-bottom: 90px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    // text-align: center;
    font-size: 40px;
    justify-items: center;
    position: fixed;
  }



  .settings-inner {
    width: 100%;
    // height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 90px;
    // box-sizing: border-box;

    p {
      padding-top: 75px;
    }
  }

  .logout-button {
    // margin: auto
    background: rgb(30,167,73);
    height: 75px;
    // margin: 30px auto;
    width: 250px;
    border-radius: 50px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    // font-size: 30px;
    letter-spacing: 1.5px;
    transition: 0.3s;
    color: white;
    text-align: center;
  }

  .logout-button:hover {
    background: rgb(30,215,96);
  }

  .contact-icons {
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin-top: 75px;
    align-content: center;
    align-items: center;
  }

}