.addsong-idx-outer {
  width: 50vw;
  height: 50vh;
}

.addsong-idx {
  width: 100%;
  height: 100%;
  display: flex;
  border: .5px red;
}

.addsong-idx-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-content: center;
}

.addsong-idx-img {
  width: 90%;
  border-radius: 75%;
  margin: 0 auto;
}

.addsong-idx-title {
  margin: 0 auto;
  padding-top: 10px;
}

.addsong-idx-item:hover {
  img {
    opacity: .5;
  }
}

