.artist-index-item > img {
  width: 100%;
  // height: ;
  border-radius: 50%;
  object-fit: cover;
}

.artist-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.artist-show-music {
  margin-left: 230px;
}

.artist-index-item {
  width: 25%;
}

.artist-show-info {
    position: relative;
    height: 400px;

    img {
      // clip: rect(0px,1100px,400px,0);
      height: 400px;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;  
    }

    .artist-show-image {
      height: 400px;
      z-index: 0;
    }

    .artist-show-image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent -30%, black);
    }

    .artist-show-name {
      position: absolute;
      top: 45;
      left: 0;
      right: 10px;
      height: 400px;
      text-align: center;
      z-index: 1;
      color: white;
      font-size: 50px;
    }
  }