.artist-show {
  width: 100%;
  background: rgb(24,24,24);  
  
  
}

.artist-show {
  .info {
    position: relative;
    height: 400px;

    img {
      // clip: rect(0px,1100px,400px,0);
      object-fit: cover;  
      height: 400px;
      overflow: hidden;
    }

    .artist-image {
      height: 400px;
      z-index: 0;
      overflow: hidden;
    }

    .artist-image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent -30%, rgb(24,24,24));
    }

    .artist-name {
      position: absolute;
      top: 145px;
      left: 230px;
      right: 10px;
      text-align: center;
      z-index: 1;
      color: white;
      font-size: 60px;
      display: flex;
      flex-direction: column;
    }
  }

  .artist-show-follow-button {
    font-size: 20px;
  }

  .music {
    margin-left: 230px;
    margin-top: 40px;
    // width: 100%;
    box-sizing: border-box;
    height: 100%;
    background: rgb(24,24,24);
    
  }

  .music {
    .featured {
      margin-left: 30px;
      font-size: 30px;
    }
    .song-index {
      // width: 100%;
      margin-bottom: 15px;
    }
    .artist-albums {
      // width: 100%;
      margin-left: 30px;
      font-size: 30px;
    }
    .artist-album-index {
      // width: 100%;
      margin-left: 30px;
      background: rbg(24,24,24);
    }
  }
}