.browse-window {
  margin-left: 230px;
  width: 100%;
  box-sizing: border-box;
  margin-block-end: 30px;
  height: 100%;
}

.browse-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  margin: 40px 80px;
}

.browse-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 11px;
}

.browse-playlist-index {
  height: 100vh;
}