
.collection-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  margin-right: 30px;
}

.collection-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.collection-window {
  // width: 100%;
  height: 100%;
  margin-left: 230px;
}