.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 100%;
  // height: 100vh;
  position: absolute;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

.login-header {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  border-bottom: 0.5px solid lightgray;
}

.login-main {
  width: 400px;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-main > h1 {
  font-size: 16px;
  font-weight: 800;
  transform:scale(1.05,1.0);
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.login-main > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-main > h3:before,
h3:after {
  background-color: lightgray;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.login-main > h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.login-main > h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.login-demo-button {
  // margin-top: 10px;
  margin-bottom: 10px;
}

.login-demo-button > button {
  background: rgb(58,90,152);
  height: 50px;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  transition: 0.3s;
  color: white;
}

.login-demo-button > button:hover {
  background: rgb(46,74,158);
  transition: 0.3s;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-block-end: 5px;
  border-bottom: 0.5px solid lightgray;
}

.login-form > input {
  width: 380px;
  border: 0.5px solid lightgray;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

.login-form > button {
  background: rgb(30,167,73);
  height: 50px;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  transition: 0.3s;
  color: white;
  margin-bottom: 30px;
}

.login-form > button:hover {
  background: rgb(30,215,96);
  transition: 0.3s;
}

.green-link {
  color: rgb(30,167,73);
}

.green-link:hover {
  color: rgb(30,215,96);
}

.to-signup-button > button {
  border: 2px solid rgb(50,50,50);
  height: 50px;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  transition: 0.3s;
  color: rgb(50,50,50);
}

.to-signup-button > button:hover {
  background: rgb(50,50,50);
  color: white;
  transition: 0.3s;
}
