.main-content {
  display: flex;
   height: 100vh;
  flex-direction: row;
  background: rgb(39,39,39);
  color: white;
  width: 100%;
}

.main-content-inner {
   margin-left: 300px;
     height: 100vh;
     width: 100%
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: black;
  width: 230px;
  height: 100vh;
  font-family: Circular, Helvetica, Arial, sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav-links {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main-nav-links > li {
  padding: 10px;
}

.main-nav-username {
  padding: 30px;
}