.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

.modal-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.playlist-form-div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  justify-content: center;
}

.playlist-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playlist-form-input {
  font-size: 60px;
  width: 100%;
  background: rbg(39,39,39);
}

.playlist-form-input > label {
  font-size: 12px;
}