.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

.modal-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 10px;
  min-height: 10px;
  // border: 10px solid blue;
  // padding: 40px;
}
.playlist-form-div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.playlist-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playlist-form-input {
  font-size: 60px;
  width: 100%;
  background: rbg(39,39,39);
}

.playlist-form-input > label {
  font-size: 12px;
}

.playlist-name-input {
  background-color: gray;
}

.playlist-input-label {
  margin: 45%;
}

.playlist-form-x {
  font-size: 24px;
}