.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

.modal-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 10px;
  min-height: 10px;
  // border: 10px solid blue;
  // padding: 40px;
}
.playlist-form-div {
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 50vw;
  justify-content: center;
  align-items: center;
}

.playlist-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.playlist-form-input {
  // height: 100px;
  font-size: 35px;
  // width: 100%;
  background: rbg(39,39,39);
  // border-radius: 20%;
}

.playlist-name-input {
  height: 75px;
  background-color: gray;
  width: 100%;
  text-align: center;
  border-radius: 25px;
}

// .playlist-input-label {
//   margin: 45%;
// }

.playlist-form-x {
  margin: 0 auto;
  padding-bottom: 15px;
}

.queue-outer {
  width: 60vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
}

.queue-songs {
  width: 60vw;
  max-height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  background: rgb(39,39,39);
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border-radius: 15px;
  // text-decoration: underline;
}

.queuemodal-upnext {
  margin-bottom: 20px;
  width: 100%;

  h1 {
    margin-bottom: 5px;
  }
}

.queuemodal-normal {
  width: 100%;
  
  h1 {
    margin-bottom: 5px;
  }
}