.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  z-index: 2;
  background: rgb(39,39,39);
  
  border-top: 1px solid black;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.music-player-controls {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.music-player-controls > i {
  padding: 5px;
}

.music-player-song-info {
  font-size: 12px;
  text-align: left;
  display: flex;
  width: 40%;
}

.music-player-album-image {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.music-player-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mp-track-title {
  font-size: 15px;
}

.mp-track-title:hover {
  text-decoration: underline;
}


.mp-artist-name {
  font-size: 11px;
  color: lightgrey;
}

.mp-artist-name:hover {
  color: white;
  text-decoration: underline;
}

.far {
  font-size: 30px;
  cursor: pointer;
  transition: 50ms;
  color: lightgrey;
}

.far:hover {
  // font-size: 32px;
  color: white;
}

.play-pause {
  width: 75px;
  display: flex;
  justify-content: center;
}

.fas {
  cursor: pointer;
  color: lightgrey;
}

.fas:hover {
  color: white;
}

.toggle-repeat {
  padding-left: 20px;
  cursor: pointer;
}

.toggle-shuffle {
  padding-right: 20px;
  cursor: pointer;
}

.repeat-on {
  color: rgb(30,167,73);
}

.mp-volume-control {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  // margin-right: 25px;
  box-sizing: border-box;
}

.volume-button {
  padding-right: 5px;
  cursor: pointer;
}