.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  z-index: 2;
  background: rgb(39,39,39);
  
  border-top: 1px solid black;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.music-player-controls {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.music-player-song-info {
  font-size: 12px;
}