.playlist-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 230px;
}

.playlist-header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.playlist-show-image > img {
  height: 150px;
  width: 150px;
}