.song-index {
  // padding: 20px;
  // color: white;
  // // font-weight: 300;
  // // width: 100%;
  // margin: 0 30px;
  background: rbg(24,24,24);
  // height: 100%;
  // border-top: 0.1px solid gray;
  padding: 0 20px;
}

.song-index > li {
  padding: 10px;
}

.song-index-item {
  display: flex;
  flex-direction: row;
}
.song-index-item-details {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-index-item-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
  box-sizing: border-box;
}

.song-index-item-title {
  font-size: 14px;
  
}

.song-artist-info {
  font-size: 10px;
  display: flex;
}

.song-artist-info > span {
  padding-right: 4px;
}



.song-index > li:hover {
  background: rgba(0,0,0,0.5);
}

.song-index-item-image {
  padding-left: 10px;
}

.song-index-item-image > img {
  height: 50px;
  width: 50px;  
}

.song-index-item > button {
  color: green;
}

.song-duration {
  // width: px;
  padding-left: 15px;
}

.song-index-item-buttons {
  font-size: 12px;
}