.song-index {
  // padding: 20px;
  color: white;
  font-weight: 300;
  // width: 100%;
  margin: 0 30px;
}

.song-index > li {
  padding: 10px;
}

.song-index-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.song-title-info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.song-artist-info {
  font-size: 10px;
  display: flex;
}

.song-index > li:hover {
  background: rgba(0,0,0,0.5);
}

